@using Model
@model RespondAndDataList<WellDto>
@{
    ViewBag.Title = "Скважины";
}

<h2>Скважины</h2>

@if (Model.Data.Any())
{
<form>
    <h3>Фильтр добыч для скважины</h3>
    <div class="modal-body">
        <div class="row">
            <span class="col-md-1">От:</span>
            <input class="col-md-5 form-control" type="date" name="dateFrom">
            <span class="col-md-1">До:</span>
            <input class="col-md-5 form-control" type="date" name="dateTo">
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Добычи</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var well in Model.Data)
                {
                    <tr id="@well.ID">
                        <td>@well.ID</td>
                        <td>@well.Number</td>

                        <td class="centered">
                            <a href="@Url.Action("Extractions","Data", new { wellId = well.ID })"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br />
</form>
}
else
{
    <span>Скважины не найдены</span>
}

<script src="js/moment-with-locales.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />